@layout.editor()
  <form action="" class="flex flex-col gap-4 h-full">
    <input type="text" class="bg-white border-none w-full text-2xl focus:outline-0" placeholder="제목을 입력해 주세요..." />

    <div data-controller="tiny-mce" id="tinyMceEditor" class="grow"></div>

    <button class="btn btn-soft btn-success">생성</button>
  </form>
@end