@layout.app()
  @slot('main')
  <div data-controller="modal-03">
    {{{ document?.content }}}

    <div class="flex gap-4">
      <button data-url="/lab/modal-example-03/content" data-action="modal-03#onOpen" class="btn btn-soft btn-primary">
        모달 띄우기
      </button>
      <button data-url="/lab/modal-example-03/lazy-content" data-action="modal-03#onLazyOpen"
        class="btn btn-soft btn-secondary">
        조금 느린 모달 띄우기
      </button>
    </div>

    @!component('pages/lab/modal-example-03/_modal')
  </div>
  @end
@end