@component('layout::app', { title: "모달 예제" })
  @slot('main')
    <div class="prose-sm p-10">
      <h2 class="font-bold">모달 사용방식 1</h2>
      <p></p>

      <div>
        <a 
          href="/lab/modal-example/content" 
          data-turbo-frame="modalFrame"
          class="btn btn-primary btn-soft">모달 열기</a>

        <a 
          href="/lab/modal-example/lazy-content" 
          data-turbo-frame="modalFrame"
          class="btn btn-primary btn-soft">조금 느린 모달 열기</a>
      </div>
    </div>
    
    <turbo-frame id="modalFrame"></turbo-frame>
  @end
@end