@component('layout::app')
@slot('main')
<div class="prose-sm p-10">
  <h2 class="font-bold">플레시메시지 02: 클라이언트 측 반응 추가</h2>

  <p>
    이전 플래시 메시지 예제에서 표현된 메시지가 사라지지 않는 부분을 해결하려고 함<br />
    SSR로 랜더링된 HTML에 플래시 UI를 제어하는 stimulus 컨트롤러가 연결되면<br/>
    N초 뒤에 삭제하는 로직과, 닫기 버튼 클릭시 삭제하는 이벤트가 작동하게 하려고 함
  </p>

  <ul>
    <li>
      이전 예제와 다르게 두 버튼들은 flash02 stimulus 컨트롤러에 연결되어있음<br/>
      (페이지 소스코드에 HTML 조각이 같이 있지만, 이는 이해를 위한 것이지 서버측 컴포넌트들도 재사용성이 필요한 것들은 원래 분리해놈)

    </li>
    <li>
      stimulus 커넥션 라이프사이클훅이 실행되면 N초 뒤에 삭제되는 로직이 실행됨<br/>
      성공버튼은 시간값을 따로 설정하지 않아서 3초 뒤에 삭제<br/>
      실패버튼은 시간값을 설정했기 때문에 설정해둔 1초 뒤에 삭제
    </li>
    <li>
      또한 플래시박스 내부의 버튼들에 onClose 액션이벤트가 연결되어 클릭시 삭제도 됨
    </li>
  </ul>

  <p>
    이번 예제는 백엔드 기반 전통 프레임워크에서 프론트엔드를 처리하는 대표적인 흐름을 보여줌.<br/>
    현대 프론트엔드 프레임워크는 하이드레이션으로 SSR과 CSR을 통합하는 방향으로 발전했지만,<br/> 
    이 방식에선 서버와 클라이언트의 HTML 코드가 거의 동일함 (이는 장단점이 존재)<br/>
    반면 백엔드 중심 접근법에서는 SSR과 CSR의 흐름이 많이 다름.<br/> 
    이는 개발 복잡도가 증가하는 요소였으나, stimulus와 turbo와 같은 도구들로<br/> 
    자바스크립트에서의 복잡한 HTML 조작을 피하면서도 현대 UX를 만족하는 것이 현재의 목표임<br/>
  </p>

  {{-- 플래시 메시지 표시 --}}
  @if(flash?.type === 'notice')
    <div 
      data-controller="flash-02" 
      class="flex justify-between alert alert-success mb-4">
      {{ flash.message }}
      <button data-action="flash-02#onClose" class="btn btn-soft btn-sm btn-primary">닫기</button>
    </div>
  @elseif(flash?.type === 'alert')
    <div 
      data-controller="flash-02" 
      data-flash-02-time-value="1000"
      class="flex justify-between alert alert-error mb-4">
      {{ flash.message }}
      <button data-action="flash-02#onClose" class="btn btn-soft btn-sm btn-error">닫기</button>
    </div>
  @end

  <div class="flex gap-4">
    <a href="/lab/flash-example-02/success" data-turbo-method="post" class="btn btn-soft btn-primary">
      성공적인 작업 요청
    </a>
    <a href="/lab/flash-example-02/failure" data-turbo-method="post" class="btn btn-soft btn-secondary">
      작업 실패 요청
    </a>
  </div>
</div>
@end
@end