<form action="/lab/file-upload-example-01" method="post" enctype="multipart/form-data"
  class="flex flex-col gap-4 max-w-xl">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  {{ inspect(csrfToken) }}
  <input type="text" name="hello" value="world">
  <input type="file" name="file" class="file-input w-full" required />
  <button type="submit" class="btn btn-primary btn-soft">업로드</button>
</form>