<form action="/lab/file-upload-example-01?_csrft={{csrfToken}}" method="post" enctype="multipart/form-data"
  class="flex flex-col gap-4 max-w-xl">
  <input type="file" name="file" class="file-input w-full" required />
  <button type="submit" class="btn btn-primary btn-soft">업로드</button>
</form>