@layout.admin({ title: 'Nestjs MVC Admin - 카테고리 관리' })

  @!uikit.flash()

  <div class="flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <h1 class="text-3xl font-bold">카테고리 관리</h1>
      <button
        data-url="/admin/categories/new"
        data-action="modal#onOpen"
        class="btn btn-primary btn-soft">등록</button>
    </div>
    <div class="rounded-box border border-base-content/5 bg-base-100">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>카테고리명</th>
            <th>설명</th>
            <th>생성일</th>
            <th></th>
          </tr>
        </thead>
        <tbody 
          data-controller="sortable" 
          data-sortable-target="container"
          data-sortable-order-api-value="/admin/categories/orders">
          @each((category, index) in categories)
            <tr data-id="{{category?.id}}">
              <td>{{index+1}}</td>
              <td>
                <button
                  data-sortable-target="handle"
                  class="cursor-pointer relative top-[2px]">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                  </svg>
                </button>
              </td>
              <td>{{category?.name}}</td>
              <td>{{category?.description}}</td>
              <td>{{category?.createdAt?.toISOString()}}</td>
              <td>
                <div>
                  <button
                    data-url="/admin/categories/{{category?.id}}/edit"
                    data-action="modal#onOpen"
                    class="text-warning">
                    수정
                  </button>
                  /
                  <a href="/admin/categories/{{category?.id}}"
                    data-turbo-method="delete" 
                    data-turbo-confirm="삭제하시겠어요?"
                    class="text-error">
                    삭제
                  </a>
                </div>
              </td>
            </tr>
          @end
          
        </tbody>
      </table>
    </div>
  </div>
@end