<!DOCTYPE html>
<html lang="ko" data-theme="cupcake">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nestjs MVC Is Coming</title>

  <!-- 에셋파이프라인을 통해 빌드되는 자산 파일들 -->
  <link rel="stylesheet" href="public/builds/global.css">
  <script src="public/builds/app.js"></script>
</head>
<body>
  <div class="text-2xl">{{ message }}</div>
</body>
</html>