<div class="flex gap-2">
  @each(themeItem in themes)
    <form method="POST" action="/lab/theme-switcher-example" data-controller="theme-switcher" data-action="submit->theme-switcher#beforeSubmit">
      <input type="hidden" name="theme" value="{{ themeItem.type }}">
      <button
        type="submit"
        data-theme="{{ themeItem.type }}"
        class="flex flex-col gap-2 items-center p-3 rounded-xl min-w-[100px]
        {{ themeItem.isActive ? 'border-primary border-2' : 'border border-base-300' }}">
        {{ themeItem.name }}
      </button>
    </form>
  @end
</div>