<nav class="flex h-full border-r border-base-300 sticky top-0 overflow-y-auto bg-base-200">
  <div class="prose prose-sm p-10">
    <h1 class="font-extrabold">NestJs Is Coming</h1>
    <a href="/">Home</a>

    <!-- 문서 -->
    <h3 class="font-bold">문서</h3>
    <ul>
      <li>
        <a href="/documents">문서 목록</a>
      </li>
      <li>
        <a href="/documents/new">문서 생성</a>
      </li>
    </ul>

    @each(category in categories)
      <h3 class="font-bold">{{category.name}}</h3>
      <ul>
        @if(!category?.documents?.length)
          <li>
            <a href="#">문서 없음</a>
          </li>
        @end

        @each(document in category?.documents)
          <li>
            <a href="{{document.slug}}">{{document.title}}</a>
          </li>
        @end
      </ul>
    @end

    <!-- 모달 -->
    <h3 class="font-bold">여기서 모달은 어떻게 만드나요.</h3>
    <ul>
      <li>
        <a href="/lab/modal-example-01">01. 안좋은 예제 살펴보기</a>
      </li>
      <li>
        <a href="/lab/modal-example-02">02. HTML 중심의 사고전환. Turbo Frame 맛보기</a>
      </li>
      <li>
        <a href="/lab/modal-example-03">03. Turbo Frame, Stimulus 적절하게 사용해보기</a>
      </li>
    </ul>

    <!-- 플래시 -->
    <h3 class="font-bold">작업에 대한 성공, 실패 피드백</h3>
    <ul>
      <li>
        <a href="/lab/flash-example-01">01. 세션을 사용한 플레시 개념</a>
      </li>
      <li>
        <a href="/lab/flash-example-02">02. 클라이언트 측 반응 추가</a>
      </li>
    </ul>

    <h3 class="font-bold">테마 변경</h3>
    <ul>
      <li>
        <a href="/lab/theme-switcher-example">쿠키를 이용한 전역 상태와 stimulus 이용</a>
      </li>
    </ul>

    <!-- 이미지 -->
    <h3 class="font-bold">파일 업로드</h3>
    <ul>
      <li>
        <a href="/lab/file-upload-example-01">TypeOrm Active Storage 만들기</a>
      </li>
      <li>
        <a href="/lab/file-upload-example-02">이미지 업로드</a>
      </li>
    </ul>

    <!-- 투두리스트 -->
    <h3 class="font-bold">보안</h3>
    <ul>
      <li>
        <a href="#">XSS</a>
      </li>
      <li>
        <a href="#">CSRF 토큰</a>
      </li>
      <li>
        <a href="#">세션 인증</a>
      </li>
    </ul>
  </div>
</nav>