<nav class="flex h-full border-r border-base-300 sticky top-0 overflow-y-auto bg-gradient-to-b from-base-200 to-base-300">
  <div class="prose prose-sm p-10">
    <h1 class="font-extrabold">NestJs Is Coming</h1>
    <a href="/">Home</a>

    <!-- 문서 -->
    <h3 class="font-bold">문서</h3>
    <ul>
      <li>
        <a href="/documents">문서 목록</a>
      </li>
      <li>
        <a href="/documents/new">문서 생성</a>
      </li>
    </ul>

    @each(category in categories)
      <h3 class="font-bold">{{category.name}}</h3>
      <ul>
        @if(!category?.documents?.length)
          <li>
            <a href="#">문서 없음</a>
          </li>
        @end

        @each(document in category?.documents)
          <li>
            <a href="{{document.slug}}">{{document.title}}</a>
          </li>
        @end
      </ul>
    @end
  </div>
</nav>