<!DOCTYPE html>
<html lang="ko" data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || "Nestjs MVC 관리자" }}</title>
  <meta name="description" content="{{ description || 'NestJS MVC IS Coming' }}" />
  <meta name="csrf-token" content="{{ csrfToken }}">

  @if ($slots.meta)
  {{{ await $slots.meta() }}}
  @endif

  <link rel="stylesheet" href="/public/stylesheets/app.css">
  <link rel="stylesheet" href="/public/stylesheets/font.css">
  <link rel="stylesheet" href="{{ asset('src/tailwind.css') }}">
  <script src="{{ asset('src/app.js') }}" type="module" defer></script>

  <!-- 파비콘 -->
  <link rel="shortcut icon" href="/public/favicon.svg" type="image/x-icon" />
</head>

<body data-controller="modal">
  <div class="flex h-screen overflow-hidden">
    <aside class="bg-base-200 w-sm min-w-sm flex-shrink-0 prose prose-sm p-10">
      <h1>Nestjs MVC 관리</h1>
      <ul>
        <li><a href="/admin/documents">문서 관리</a></li>
        <li><a href="/admin/categories">카테고리 관리</a></li>
      </ul>
    </aside>
    
    <main class="flex-1 min-w-0">
      <div class="h-full overflow-auto">
        <div class="p-10 min-w-[1024px]">
          {{{ await $slots.main() }}}
        </div>
      </div>
    </main>
  </div>
  @!uikit.modal() 
</body>

</html>