<!DOCTYPE html>
<html lang="ko" data-theme="{{ theme }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || "Nestjs MVC" }}</title>
  <meta name="description" content="{{ description || 'NestJS MVC IS Coming' }}" />
  <meta name="csrf-token" content="{{ csrfToken }}">

  @if ($slots.meta)
  {{{ await $slots.meta() }}}
  @endif

  <link rel="stylesheet" href="/public/stylesheets/font.css">
  <link rel="stylesheet" href="{{ asset('src/tailwind.css') }}">
  <script src="{{ asset('src/app.js') }}" type="module" defer></script>

  <!-- 파비콘 -->
  <link rel="shortcut icon" href="/public/favicon.svg" type="image/x-icon" />
</head>

<body>
  <div class="flex h-screen overflow-hidden">
    @!partial.sidebar({ adminMode })

    <main class="flex-1 min-w-0 flex flex-col overflow-auto">
      <div class="navbar sticky left-0 top-0 bg-base-100 shadow-sm z-10">
        <div class="flex-1">
          {{-- <a class="btn btn-ghost text-xl"></a> --}}
        </div>
        <div class="flex-none">
          @!partial.themeDropdown()
          @!partial.languageDropdown()
        </div>
      </div>
      <div class="p-10 min-w-[1024px] flex-1 ">
        {{{ await $slots.main() }}}
      </div>
      @!partial.footer()
    </main>
  </div>
  @!uikit.modal()
</body>

</html>