<!DOCTYPE html>
<html lang="ko" data-theme="{{ theme }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || "Nestjs MVC Is Coming" }}</title>
  <meta name="description" content="NestJS MVC 실험실 - TypeORM, Edge.js, 파일 업로드, CSRF, SSR, 실전 예제와 개발 환경 제공" />
  <meta name="csrf-token" content="{{ csrfToken }}">

  <!-- 페이지에 메타태그가 추가로 필요할 경우 슬롯을 통해 사용 -->
  @if ($slots.meta)
  {{{ await $slots.meta() }}}
  @endif

  <!-- 스타일 리소스 -->
  <link rel="stylesheet" href="/public/builds/tailwind.css">
  <link rel="stylesheet" href="/public/stylesheets/font.css">

  <!-- JavaScript는 defer로 지연 -->
  <script src="/public/builds/app.js" defer></script>

  <!-- 파비콘 -->
  <link rel="shortcut icon" href="/public/favicon.svg" type="image/x-icon" />
</head>

<body>
  <div class="flex h-screen">
    @!layout.sidebar()
    <div class="flex flex-col h-full grow overflow-y-auto">
      <div class="grow prose prose-sm p-10 w-full min-w-3xl">
        {{{ await $slots.main() }}}
      </div>
      @!layout.footer()
    </div>
  </div>
</body>

</html>