<!DOCTYPE html>
<html lang="ko" data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || "Nestjs MVC Is Coming" }}</title>
  <meta name="description" content="NestJS MVC 실험실 - TypeORM, Edge.js, 파일 업로드, CSRF, SSR, 실전 예제와 개발 환경 제공" />
  <meta name="csrf-token" content="{{ csrfToken }}">
  <!-- 페이지에 메타태그가 추가로 필요할 경우 슬롯을 통해 사용 -->
  @if ($slots.meta)
  {{{ await $slots.meta() }}}
  @endif

  <!-- 기본 리소스 -->
  <link rel="stylesheet" href="/public/stylesheets/font.css">
  <link rel="stylesheet" href="/public/stylesheets/app.css">
  
  <!-- cache-busting 리소스 -->
  <link rel="stylesheet" href="{{ asset('src/tailwind.css') }}">
  <script src="{{ asset('src/app.js') }}" type="module" defer></script>  

  <!-- 파비콘 -->
  <link rel="shortcut icon" href="/public/favicon.svg" type="image/x-icon" />

  <script src="https://cdn.tiny.cloud/1/g7rvccst0a48ydu2wia7fbtgab2h5usfhw0ggzseok12l0wq/tinymce/7/tinymce.min.js"
    referrerpolicy="origin" data-turbo-track="reload"></script>
</head>

<body class="flex justify-center h-screen bg-base-200/50">
  <div>
    {{{ await $slots.main() }}}
  </div>

  <div class="fixed left-5 bottom-5 z-[999]">
    @!uikit.flash()
  </div>
</body>

</html>