<!DOCTYPE html>
<html lang="ko" data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || "Nestjs MVC Is Coming" }}</title>
  <meta name="description" content="NestJS MVC 실험실 - TypeORM, Edge.js, 파일 업로드, CSRF, SSR, 실전 예제와 개발 환경 제공" />
  <!-- 페이지에 메타태그가 추가로 필요할 경우 슬롯을 통해 사용 -->
  @if ($slots.meta)
  {{{ await $slots.meta() }}}
  @endif

  <!-- Turbo 진입 비활성화 -->
  {{-- <meta name="turbo" content="false"> --}}
  <meta name="turbo-visit-control" content="reload">

  <!-- 스타일 리소스 -->
  <link rel="stylesheet" href="/public/builds/tailwind.css">
  <link rel="stylesheet" href="/public/stylesheets/font.css">

  <!-- JavaScript는 defer로 지연 -->
  <script src="/public/builds/app.js" defer></script>

  <!-- 파비콘 -->
  <link rel="shortcut icon" href="/public/favicon.svg" type="image/x-icon" />

  <script src="https://cdn.tiny.cloud/1/g7rvccst0a48ydu2wia7fbtgab2h5usfhw0ggzseok12l0wq/tinymce/7/tinymce.min.js"
    referrerpolicy="origin"></script>
</head>

<body class="p-10 flex justify-center h-screen">
  <div class="w-2xl">
    {{{ await $slots.main() }}}
  </div>
</body>

</html>