@layout.app()
  @slot('main')
    {{{ document?.content }}}

    <div class="flex gap-4">
      <a
        href="/lab/modal-example-02/content"
        data-turbo-frame="modalFrame"
        class="btn btn-soft btn-primary">
        모달 띄우기
      </a>
      <a
        href="/lab/modal-example-02/lazy-content"
        data-turbo-frame="modalFrame"
        class="btn btn-soft btn-secondary">
        조금 느린 모달 띄우기
      </a>
    </div>

    <turbo-frame id="modalFrame"></turbo-frame>
  @end
@end