<!-- SSR 랜더링 방식의 modal -->

<turbo-frame id="modalFrame">
  <!-- 모달 오버레이 -->
  <div
    data-controller="ssr-modal"
    data-ssr-modal-target="backdrop"
    data-action="click->ssr-modal#onBackdropClose"
    class="fixed inset-0 bg-neutral/70
      flex items-center justify-center">
    <!-- 모달 컨텐츠 컨테이너 -->
    <div
      class="relative flex flex-col w-full h-full bg-base-100
        md:w-[600px] md:h-auto md:rounded-xl">
        <!-- 테블릿사이즈부터 보이는 영역 -->
        <div
          class="hidden w-full p-3
            md:flex md:justify-end md:items-center">
          <button data-action="ssr-modal#onClose">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <!-- 컨텐츠 영역 -->
        <div class="grow p-6">
          @if($slots && $slots.content)
            {{{ await $slots.content() }}}
          @end
        </div>

        <!-- 모바일에서 보이는 하단 영역 -->
        <div class="flex justify-center items-center w-full p-6
              md:hidden">
          <button data-action="modal#onClose">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </button>
        </div>
    </div>
  </div>
</turbo-frame>

