@component('layouts::app')
  @slot('main')
  <div data-controller="modal-01" data-modal-01-url-value="/lab/modal-example-01/content" class="prose-sm p-10">


    @!component('uikit::back-button')

    <h2 class="font-bold">모달 1편: 안좋은 예제 살펴보기</h2>
    <ul>
      <li>1. 해당 페이지 컨텐츠를 감싸는
        @!component('uikit::active-link', {
          url:"https://github.com/dev-goraebap/nestjs-mvc-is-coming/blob/feat/modal-example-01/resources/views/pages/lab/modal-example-01/index.edge#L4",
          text: "예제용 modal-01 컨트롤러"
        })
        연결</li>
      <li>2. 모달 UI는 미리 마크업해둠
        @!component('uikit::active-link', {
          url:"https://github.com/dev-goraebap/nestjs-mvc-is-coming/blob/feat/modal-example-01/resources/views/pages/lab/modal-example-01/index.edge#L33",
          text: "(hidden) 클래스를 통해 숨겨놓기"
        })
      </li>
      <li>
        3. 버튼을 클릭하면 modal-01 컨트롤러의
        @!component('uikit::active-link', {
          url:"https://github.com/dev-goraebap/nestjs-mvc-is-coming/blob/feat/modal-example-01/resources/javascripts/controllers/lab/modal-example-01/modal.controller.js#L10",
          text: " onOpen 액션 호출"
        })
      </li>
      <li>4. 모달 UI의 hidden 클래스를 지워서 모달 노출</li>
      <li>5. 설정한 url value로 api 호출 -> 받아온 데이터를 innerHTML로 랜더링</li>
      <li>6. 닫기버튼 클릭시 모달의 스타일을 통해 안보이게 처리</li>
    </ul>

    <p>
      모달의 UI는 html에 정의 하였지만 api를 통해 가져온 데이터를 화면에 보이는 과정에서<br />
      innerHTML이나 document.createElement 를 사용할 수 밖에 없음.<br />
      당연히 프론트엔드측 프레임워크나 라이브러리를 사용하는 것보다 개발 경험이 떨어짐. stimulus는 html<->js 사이의<br />
        이벤트계층을 추상화 해줄 뿐 그 이상 그 이하도 아니기 때문에 js에서 돔을 생성하는 일은 최대한 피해야함.
    </p>

    <button data-action="modal-01#onOpen" class="btn btn-soft btn-primary">모달 띄우기</button>

    <!-- 모달 오버레이 -->
    <div data-modal-01-target="modalOverlay" class="hidden justify-center items-center fixed inset-0 bg-black/80">

      <div class="w-full h-full md:w-[600px] md:h-auto md:rounded-xl bg-base-100">
        <div class="flex justify-end p-4">
          <!-- 닫기버튼 -->
          <button data-action="modal-01#onClose">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <!-- 모달 컨텐츠 -->
        <div data-modal-01-target="modalContent" class="p-4"></div>
      </div>
    </div>
  </div>
  @end
@end