@layout.app()
  @slot('main')
    <div data-controller="modal-01" data-modal-01-url-value="/lab/modal-example-01/content">
      {{{ markdownHtml }}}

      <button data-action="modal-01#onOpen" class="btn btn-soft btn-primary">모달 띄우기</button>

      <!-- 모달 오버레이 -->
      <div data-modal-01-target="modalOverlay" class="hidden justify-center items-center fixed inset-0 bg-black/80">

        <div class="w-full h-full md:w-[600px] md:h-auto md:rounded-xl bg-base-100">
          <div class="flex justify-end p-4">
            <!-- 닫기버튼 -->
            <button data-action="modal-01#onClose">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <!-- 모달 컨텐츠 -->
          <div data-modal-01-target="modalContent" class="p-4"></div>
        </div>
      </div>
    </div>
  @end
@end